/* work sans from google font */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,700;0,900;1,400;1,700;1,900&family=Open+Sans:wght@400;700;800&family=Poppins:wght@400;600;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* shared styles */
* {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}


/* header styles */

/* nav related work */


a.bannar-btn {
    background: rgba(11, 2, 35, 0.10);
    padding: 11px;
    border-radius: 8px;
}
.header-right ul{
    list-style: none;

}
.header-left span{
    color: #F948B2;
}
.header-right .fa-brands{
    color: red;
}
.header-left h3 {
    font-size: 34px;
}
.header-right .fa-tiktok{
    color:black ;
}

.header-right ul li a {
    text-decoration: none;
    text-transform: capitalize;
    margin-left: 14px;
    color: #3c354f;
    font-size: 24px;
}
.header{
    display: flex;
    justify-content: space-around;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    background-color: white;
    padding: 13px;
    align-items: center;

}
.header-right ul{
    display: flex;
    align-items: center;

}
.header-left img {
    width: 81px;
    height: 44px;
}
.header-left {
    display: flex;
    align-items: center;
    gap: 22px;
}








/* Banner section start */
section h2 {
    font-size: 48px;
}

section h1 {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* text-align: center; */
    font-size: 95px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    padding-top: 5px;
    

}

.banner {
    display: flex;
    margin-left: 90px;
    justify-content: space-around;
    margin-top: 150px;
    background-image: url(/images/Group\ 14.png);
    background-repeat: no-repeat;

}
.funny-videos-color{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* text-align: center; */
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    padding-top: 5px;
    
}

.banner-image {
    margin-right: 34px;
}

.banner-title {
    margin: 148px 245px;
    background-image: url("/images/Group\ 14.png");
    background-repeat: no-repeat;
    width: 901px;
    height: 700px;
    padding: 10px 200px;
}

.banner-button-1 {
    Browse plugins Frame 2 display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    border: none;

    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.banner-button-2 {
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    border-radius: 48px;
    background: #4EC5F7;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    border: none;
}

/* card section start */
/* .card-image-container {
    margin: 340px 400px;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 1.6rem;
} */

.card-main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    text-align: center;
}
.card-box img {
    width: 347px;
    height: 400px;
}

    .card-top-content h2 {
        text-align: center;
    }
    .card-top-content p {
        text-align: center;
    }
.card-box{
    
        margin-left: 34px;
 }
 .card-content{
    align-items: center;
 }

 /* 2nd banner */

 .second-banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 103px;
}
 element.style {
    text-align: end;
    align-items: center;
    margin-top: 120px;
    justify-content: center;
}
element.style {
    margin-right: -90px;
}
.card-inner {
    position: relative;
    top: -192px;
    right: 152px;
}
.card-inner img{
    width: 318px;
    height: 344px;
}
.second-banner  image {
    width: 441px;
    height: 536px;
}
.team-main{
   display: grid;
   grid-template-columns: repeat(5, 1fr );
}
.team{
    padding: 20px 90px;

}
.team-box {
    display: flex;
    gap: 10px;
    text-align: center;
    margin-bottom: 25px;
    margin-left: 100px;
    display: flex;
    gap: 10px;
    text-align: center;
    margin-bottom: 25px;
    margin-left: 100px;
    padding: 11px;
    border-radius: 44px;
    border: 1px solid white;
}
.team-box:hover {
   

    border: 1px solid pink;
    
}